@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
:root {
  --font_color_white: #e8e6e3;
  --transparent-white: rgba(255, 255, 255, 0.5);
  --border_radius: 10px;
  --error_red: red;
  --default_transition: 0.3s;
}

body {
  color: var(--font_color_white);
  background-color: black;
  min-height: 100vh;

  padding: 0;
  margin: 0;

  background-image: url(../images/night.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;

  font-family: "Nunito";
}

* {
  /* border: 2px red solid;
  padding: 4px; */
}

.main_container {
  display: flex;
  flex-direction: column;
  /* padding: 2rem 0; */

  padding-top: 2rem;
  min-height: 70vh;
}

/* ****** */
/* ****** */
/* header */
/* ****** */

.top_header_container {
  height: 5rem;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.top_header_container .error_message {
  min-height: 2rem;
  color: var(--error_red);
}

.header {
  /* margin: 0 auto; */
}

form {
  border-radius: var(--border_radius);
  background-color: var(--font_color_white);
  border: 4px transparent solid;

  min-width: 20rem;
  display: flex;
  padding: 0.4rem 0.2rem 0.4rem 0.6rem;
}
form:hover {
  border-color: orange;
  transition: border var(--default_transition);
}
form.error_active {
  border-color: var(--error_red);
  transition: border var(--default_transition);
}
form button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
form button img {
  height: 1.5rem;
  margin: 0;
  padding: 0;
  transition: var(--default_transition);
}
form button img:hover {
  scale: 1.4;
}
form input {
  cursor: pointer;
  /* background-color: transparent;
  border: none; */

  border: none;
  outline: none;
  background: none;
  flex: 1;
}

form input:focus {
  outline: none;
}

/* ****** */
/* ****** */

/* ********************** */
/* ********************** */
/* content_main_container */
/* ********************** */

.content_main_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 3rem;
  display: none;
}
.content_main_container.active {
  display: flex;
}

/* ********************** */
/* ********************** */

/* ************************* */
/* current_day_top_container */

.current_day_top_container {
  font-size: 2rem;
  font-weight: 700;
}
.current_day_location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.current_day_date_and_time {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--transparent-white);
}
/* ************************* */

/* **************************** */
/* current_day_bottom_container */

.current_day_bottom_container {
  display: grid;
  grid-template-columns: 1fr 2.8fr;
  gap: 2rem;
}

.current_day_degree_container {
  display: flex;
  font-size: 4rem;
  margin-top: 0.5rem;
}
.current_day_icon {
  min-width: 7rem;
  margin-right: -0.5rem;
}
.current_day_degree {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.current_day_status_container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-top: -2.5rem;

  padding-left: 2.5rem;
}
.current_day_status {
  font-size: 1.5rem;
}
.current_day_feels_like {
  font-size: 1.2rem;
  color: var(--transparent-white);
}

.current_day_info_container {
  grid-column: 2 / 3;
  grid-row: 1 / 3;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.info_container :nth-child(2) {
  font-size: 1.5rem;
}
.info_description {
  color: var(--transparent-white);
}
/* **************************** */

/* three_days_view_container  */
.three_days_view_container {
  display: grid;
  grid-template-rows: minmax(2.5rem, 2rem) repeat(3, 2fr);
  margin-top: -0.5rem;
  margin-bottom: 3rem;
}

.three_days_view_title {
  margin: 0 auto;
}

.day_view_container {
  display: grid;
  grid-template-columns: 2.5fr repeat(3, 2fr);
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;

  border-bottom: 2px solid var(--font_color_white);
}

.day_view_container:last-child {
  border-bottom: none;
}

.day_view_container .icon {
  margin: 0 auto;
}
.day_view_container .degree_max {
  margin: 0 auto;
}
.day_view_container .degree_min {
  margin: 0 auto;
  color: var(--transparent-white);
}

.three_days_view_title {
  font-size: 2rem;
}
/* ************************** */

/* ****** */
/* footer */
/* ****** */

footer {
  background-color: var(--transparent-white);
  color: var(--font_color_white);
  font-size: 1rem;

  /* text-align: center; */
  display: none;
  justify-content: center;
  align-items: center;
  /* z-index: 2; */
  /* text-shadow: none; */
  margin-top: auto;
}

footer img {
  height: 1.5rem;
  scale: 1.2;
  padding: 0;
}

footer img:hover {
  transform: scale(1.1);
}

footer.active {
  display: flex;
}

/* ****** */
/* ****** */

/* Loading effect */

.lds-ripple.loading_effect {
  display: none;
  margin: 0 auto;
}
.lds-ripple.loading_effect.active {
  display: block;
  flex-grow: 1;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 400px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 180px;
    left: 180px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 180px;
    left: 180px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 180px;
    left: 180px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 360px;
    height: 360px;
    opacity: 0;
  }
}
/* ************** */
